<div #map class="h-[calc(100vh-64px)]">
</div>
<section class="fixed w[260px] bg-white rounded top-20 left-10 p-5">
  <h2 class="text-xl font-bold text-black mb-2">
    Marcadores
  </h2>
  <div class="flex flex-col gap-2">
    @for (marker of markers(); track marker.id) {
    <div class="form-control" (click)="flyToMarker(marker.mapboxMarker.getLngLat())" (dblclick)="deleteMarker(marker)">
      <label class="label cursor-pointer">
        <span class="label-text text-black text-xs"> {{ marker.mapboxMarker.getLngLat() | json}}</span>
        <input type="radio" name="radio-12" checked="checked" class="radio"
          [style]="{backgroundColor: marker.mapboxMarker._color}" />
      </label>
    </div>
    }
    @empty {
    <div class="flex items-center justify-center bg-blue-100 rounded-2xl">
      <p class="text-xs text-secondary">
        No hay marcadores
      </p>
    </div>
    }

  </div>
</section>
